extends layout2

block content
  - var v = (verse) ? verses.filter(function(item) { return item.en.toUpperCase().replace(/\s+/g, '') === verse.toUpperCase().replace(/\s+/g, '');})[0] : verses[Math.floor(Math.random()*verses.length)];
  - v = (v) ? v : verses[Math.floor(Math.random()*verses.length)];
  h1 jQuery UI Drag and Drop Example - #{v.en}
  #content
    div(style="border:1px solid orange; padding:10px; margin: 10px; color:red;") 
      | Rearrange the words for the bible verse 
      | <a href="https://www.biblegateway.com/passage/?search=#{v.en}&version=NIV" target="new"> [#{v.en}] </a>
    #successMessage
      h4 #{v.en_text}

    #cardPile  
    #cardSlots  

  script.

    var stringTrim = function(str) {
        return str.replace(/^\s+|\s+$/gm, '');
    };

    var breakLongPhrase = function (phrase, n) {
        var result = [];
        phrase = stringTrim(phrase);
        var phrases = phrase.split(/[,.;!?"]/); 
        for (var i = 0; i < phrases.length; i++) {
            var p = stringTrim(phrases[i]);
            if (!p) continue;
            var wordCount = p.split(' ').length;
            if (wordCount > n) {
                result.push(p.split(' ').slice(0, wordCount / 2).join(' '));
                result.push(p.split(' ').slice(wordCount / 2).join(' '));
            } else {
                result.push(p);
            };
        }
        return result;
    };

    var verse = "#{v.en_text}";
    var correctCards = 0;
    var words = breakLongPhrase(verse, 5);
    var words_copy = words.slice(0); // copy
    // Create the pile of shuffled cards
    words.sort( function() { return Math.random() - .5 } );


