extends layout

block content
  h1
    | Bible Verses 
  p Play drag-and-drop bible verse game 
    a.glyphicon.glyphicon-play(href="/memorize_bible_verse_game_1/random") 
  table.table
    thead
      tr
        th  主題/Topic
        th  經節
        th  經文
        th  Verse
        th  Text
    tbody
      each v, i in verses
        - var topic = (v.cn_topic) ? v.cn_topic + '/' + v.en_topic : ''
        tr
          td(nowrap)  #{topic}
          td(nowrap)  #{v.cn}
          td  #{v.cn_text}
          td(nowrap) 
            | #{v.en} 
            a.glyphicon.glyphicon-play(href="/memorize_bible_verse_game_1/#{v.en}") 
          td  #{v.en_text}
